.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'SWFont';
  src: local('Starjout') , 
  url('./assets/fonts/Starjout.ttf') format('truetype');
}

h1, h2, li {
  font-family: "SWFont";
}
.sw-btn{
  font-family: "SWFont" !important;
}

.sw-btn:hover, li:hover,.navbar-toggler:hover, label:hover, h2:hover, img:hover, a>img, h1 {
  color: #ffffff;
  background: #3053dd;
  box-shadow: 0 0 10px #3053dd, 0 0 20px #3053dd, 0 0 40px #3053dd;
}
